#download{
    background-color:white;
    border-radius:0.5em;
    width:fit-content;
    height:30px;
    margin-left:10%;
    padding:5px;
    display:flex;
    align-items: center;
}

#download:after{
    content:'';
    background-image:url("../img/pdf-file.png");
    display:inline-block;
    width:30px;
    height:30px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:10px;
}

 #download:hover{
     cursor:pointer;
 }